/*溢出（overflow）*/

.of-auto {
    overflow: auto;
}

.of-hidden {
    overflow: hidden;
}

.of-inherit {
    overflow: inherit;
}

.of-scroll {
    overflow: scroll;
}

.of-scroll-y {
    // overflow-y: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.of-visible {
    overflow: visible;
}