/* 对齐方式 align-self */
// align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。
// 默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。

.item-top{
    align-self: flex-start;
}

.item-bottom{
    align-self: flex-end;
}

.item-center{
    align-self: center;
}

.item-baseline{
    align-self: baseline ;
}

.item-stretch{
    align-self: stretch ;
}