/* 缩小比例 flex-shrink */
// 项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。

// 如果所有项目的flex-shrink属性都为1，当空间不足时，都将等比例缩小。
// 如果一个项目的flex-shrink属性为0，其他项目都为1，则空间不足时，前者不缩小。
// 负值对该属性无效。
.shrink-none,
.shrink-0,
.flex-shrink-none,
.flex-shrink-0{
    flex-shrink: 0;
}

.shrink,
.shrink-1,
.flex-shrink,
.flex-shrink-1{
    flex-shrink: 1;
}

.shrink-2,
.flex-shrink-2{
    flex-shrink: 2;
}