/* hp-* */

.hp-10 {
    height: 10%;
}

.hp-20 {
    height: 20%;
}

.hp-30 {
    height: 30%;
}

.hp-40 {
    height: 40%;
}

.hp-50 {
    height: 50%;
}

.hp-60 {
    height: 60%;
}

.hp-70 {
    height: 70%;
}

.hp-80 {
    height: 80%;
}

.hp-90 {
    height: 90%;
}