/* wp-* */

.wp-10 {
    width: 10%;
}

.wp-20 {
    width: 20%;
}

.wp-30 {
    width: 30%;
}

.wp-40 {
    width: 40%;
}

.wp-50 {
    width: 50%;
}

.wp-60 {
    width: 60%;
}

.wp-70 {
    width: 70%;
}

.wp-80 {
    width: 80%;
}

.wp-90 {
    width: 90%;
}